<h1>請選擇票券</h1>

<% @ticket_types.each do |ticket| %>  
  <div class="card choose-ticket-card" id="accordion">
    <div class="card-body price" >
      
      <h5 class="card-title"><%= ticket.title %></h5>

      <h6 class="card-subtitle mb-2 text-muted">NT$<%= ticket.price %></h6>
     
      <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapse`${ticket_types.id}`"  data-target="#e" >更多資訊</a>
      
      <div class="qty " style="display:inline; margin-left:250px;">
        <span class="minus"style="margin-right:20px;"> <a href="#"><i class="fas fa-minus-circle"></i></a></span>
        <%= number_field_tag 'quantity', '0', min:0, name:"qty", style:"width: 30px;", disabled:false if ticket.on_sale?%>
        <span class="plus "> <a href="#"><i class="fas fa-plus-circle"></i></a></span>
        <%= link_to '放到購物車', add_cart_path(ticket.id), method: "post", remote:true %>
      </div>

     <span>數量： </span>
      <%= ticket.quantity %>
      <span>目前購買：</span>
      <%= ticket.tickets.count %>

      <span>開售：</span>
      <%= ticket.sell_start.strftime("%Y/%m/%d") %>
      <span>截止販售：</span>
      <%= ticket.sell_deadline.strftime("%Y/%m/%d") %>

      <div>狀態：
        <%= content_tag :span, '未開售', class:"p-2 bg-blue-400 textg-blue-800 rounded-lg" if ticket.pending? %>
        <%= content_tag :span, '銷售中', class:"p-2 bg-teal-400 text-teal-800 rounded-lg" if ticket.on_sale? %>
        <%= content_tag :span, '售完', class: "p-2 bg-yellow-400 text-yellow-800 rounded-lg" if ticket.fully_booked? %>
        <%= content_tag :span, '停止販售', class:"p-2 bg-red-400 text-red-800 rounded-lg" if ticket.sale_closed? %>
      </div>

              
    </div>

    <div class="collapse " id="e" >
      <div class="card card-body info" >
        <h2>活動資訊：</h2>
        <%= ticket.content %>
      </div>
    </div>

  </div>
<% end %>

購物車總數量：<%= current_cart.total_quantity %>
購物車總價格：<%= current_cart.total_price %>
<%= link_to '前往結帳頁面', checkout_cart_path %>

<script>
  $('.collapse').collapse('toggle')
</script>  
  




  


