<h1 class="title">票券列表</h1>

<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>活動id</th>
      <th>活動名稱</th>
      <th>活動票券id</th>
      <th>票券種類</th>
      <th>數量</th>
      <th>票價</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_types.each do |ticket_type| %>
      <tr>
        <td><%= ticket_type.activity.id %></td>
        <td><%= ticket_type.activity.title %></td>
        <td><%= ticket_type.id %></td>
        <td><%= ticket_type.title %></td>
        <td><%= ticket_type.quantity %></td>
        <td>＄<%= ticket_type.price %></td>
        <td>
          <%= link_to "編輯", edit_activity_path(ticket_type.activity_id), class: 'button is-light is-small' %>
          <%= link_to "刪除", activity_ticket_type_path(id: ticket_type), method: 'delete', data: { confirm: '確認刪除?!' } %>
          <%# <% byebug %>
        </td>     
      </tr> 
    <% end %>
  </tbody>
</table>


