<div class=" w-full">
  <section class="t-footer">
    <div class="border-b-2 py-8  flex justify-between text-center">
      <div class="flex-wrap  justify-center text-left">
        <li class="list-none justify-center">
          <%= link_to root_path do%>
            <%= image_tag '/images/newlogo.png' ,class:"h-20" %>
          <% end%>
        </li>
        <li  class="list-none justify-center ml-3"> 
          <i class="far fa-envelope"></i> <a href="mailto:contact@rubytix.fun">contact@rubytix.fun</a>
        </li>
        <li class="list-none justify-center ml-3">
          <i class="far fa-clock"></i> 週一至週五(10:00~17:00)
        </li>
      </div>

      <div class="flex-wrap  justify-center py-3">
        <li class="list-none text-xl font-bold">參加活動</li>
        <li class="list-none justify-center mt-2">
          <%= link_to '購票須知', 'footer_notice_pages_path'  , class: "hover:no-underline hover:text-gray-100" %>
        </li>
        <li class="list-none justify-center">
          <%= link_to '常見問題', 'questions_pages_path', class: "hover:no-underline hover:text-gray-100" %>     
        </li>
      </div>

      <div class="flex-wrap  justify-center py-3">
        <li class="list-none text-xl font-bold">辦理活動</li>
        <li class="list-none justify-center mt-2">
          <%= link_to '辦理流程', 'process_pages_path', class: "hover:no-underline hover:text-gray-100" %>     
        </li>
        <li class="list-none justify-center">
          <%= link_to '售票須知', 'purchase_pages_path', class: "hover:no-underline hover:text-gray-100" %>     
        </li>
        <li class="list-none justify-center">
          <%= link_to '常見問題', 'questions_pages_path' , class: "hover:no-underline hover:text-gray-100" %>     
        </li>
      </div>
      
      <div class="flex-wrap  justify-center py-3 ">
        <li class="list-none text-xl font-bold">聯絡我們</li>
        <li class="list-none justify-center  mt-2">
          <%= link_to '認識我們', 'about_us_pages_path', class: "hover:no-underline hover:text-gray-100" %>     
        </li>
        <li class="list-none justify-center">
          <%= link_to '客服中心', 'service_centree_pages_path', class: "hover:no-underline hover:text-gray-100" %>     
        </li>
        <li class="list-none justify-center">
          <%= link_to '服務條款', 'service_pages_path', class: "hover:no-underline hover:text-gray-100" %>     
        </li>
      </div>
    </div>
  </section>

  <section class="text-center bg-gray-100 text-gray-500 py-3">
    <p>rubytix.fun &copy; 2021 . All Rights Reserved<p>
  </section>
</div>
