

<section class="flex bg-red-200 justify-between">
  <div class="flex-wrap  justify-center">
    <li class="list-none text-xl font-bold underline">參加活動</li>
    <li class="list-none justify-center">
      <%= link_to '購票須知', "/footer_page/_purchase_notice.html" %>     
    </li>
    <li class="list-none justify-center">
      <%= link_to '常見問題', "/footer_page/_questions.html.erb" %>     
    </li>
  </div>

  <div class="flex-wrap  justify-center">
    <li class="list-none text-xl font-bold underline">辦理活動</li>
    <li class="list-none justify-center">
      <%= link_to '辦理流程', "/footer_page/_process.html.erb" %>     
    </li>
    <li class="list-none justify-center">
      <%= link_to '售票須知', "/footer_page/_sell_purchase.html.erb" %>     
    </li>
    <li class="list-none justify-center">
      <%= link_to '常見問題', "/footer_page/_questions.html.erb" %>     
    </li>
  </div>
  
  <div class="flex-wrap  justify-center">
    <li class="list-none text-xl font-bold underline">聯絡我們</li>
    <li class="list-none justify-center">
      <%= link_to '認識我們', "/footer_page/_about_us.html.erb" %>     
    </li>
    <li class="list-none justify-center">
      <%= link_to '客服中心', "/footer_page/_service_centre.html.erb" %>     
    </li>
    <li class="list-none justify-center">
      <%= link_to '服務條款', "/footer_page/_service_terms.html.erb" %>     
    </li>
  </div>
</section>

<section class="text-center bg-red-400">
  <p>&copy; 2020 rubytix.fun<p>
</section>