<section class="bg-red-200 flex justify-between">
    <button>
      <%= link_to '熱門精選', root_path,  class: "text-red-800 mx-7 text-xl font-bold" %> 
    </button>

    <button>
      <%= link_to '特色活動',  '#', class: "text-red-800 mx-7 text-xl font-bold" %> 
    </button>

    <button>
      <%= link_to '短期課程',  '#', class: "text-red-800 mx-7 text-xl font-bold" %> 
    </button>

    <button>
      <%= link_to '休閒娛樂', '#', class: "text-red-800 mx-7 text-xl font-bold" %> 
    </button>

    <button>
      <%= link_to '資訊科技', '#', class: "text-red-800 mx-7 text-xl font-bold" %> 
    </button>
  </section>