
<div class=" w-full h-20 fixed max-w-screen-xl mt-20 z-20">



<section class="bg-gray-900	 flex justify-around py-3 ">

    <button>
      <%= link_to '熱門精選', root_path,  class: "text-yellow-600 mx-7 text-xl font-bold  hover:no-underline hover:text-gray-100" %> 
    </button>

    <button>
      <%= link_to '特色活動',  '#', class: "text-yellow-600 mx-7 text-xl font-bold hover:no-underline hover:text-gray-100" %> 
    </button>

    <button>
      <%= link_to '5xRuby',  '#', class: "text-yellow-600 mx-7 text-xl font-bold hover:no-underline hover:text-gray-100" %> 
    </button>

    <button>
      <%= link_to '休閒娛樂', '#', class: "text-yellow-600 mx-7 text-xl font-bold hover:no-underline hover:text-gray-100" %> 
    </button>

    <button>
      <%= link_to '資訊科技', '#', class: "text-yellow-600 mx-7 text-xl font-bold hover:no-underline hover:text-gray-100" %> 
    </button>
</section>

</div>