<% if current_user %>

  <select name="current_user_account_name" class="current_user_account_name">
    <option value="1"  selected="selected"><%= current_user.account_name %></option>
    <option value="2"><%= link_to('修改密碼', edit_registration_path(:user)) %></option>
    <option value="3">收藏的活動</option>
    <option value="4">檢視訂單</option>
    <option value="5">舉辦活動</option>
  </select>

  <button>
    <%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
  </button>

        
<% else %>

  <button>
    <%= link_to('會員註冊', new_registration_path(:user)) %> 
  </button>

  <button>
    <%= link_to('會員登入', new_session_path(:user)) %>
  </button>


<% end %>