<div class=" w-full h-20 fixed max-w-screen-xl z-20">


  <% if current_user %>


  <section class="bg-red-700 flex justify-between px-3 items-center">
    <section>
      <%= link_to root_path do%>
        <%= image_tag '/images/newlogo.png' ,class:"h-20" %>
      <% end%>
    </section>

    <div class="search-bar flex">
      <input type="text" class="search-input bg-red-100 rounded-md h-10 mx-3" placeholder="11">
      <button class="submit search-btn flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray-100 bg-red-600 hover:bg-gray-900 hover:text-yellow-600 h-10">搜尋</button>
    </div>

    <section class="flex">
      <select name="current_user_account_name" class="current_user_account_name rounded-md mx-3 px-96">
        <option value="1"  selected="selected"><%= current_user.account_name %></option>
        <option value="2" class="member_centre">會員中心</option>
        <option value="3" class="activitv y_record">活動紀錄</option>
        <option value="4" class="hold_activity">舉辦活動</option>
        <option value="5" class="shopping_cart">購物車</option>

      </select>

      <button class="submit search-btn flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray-100 bg-red-600 hover:bg-gray-900 hover:text-yellow-600 hover:no-underline h-10">
        <%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
        
      </button>

      
    </section>


  </section>

          
  <% else %>

  <section class="bg-red-700 flex justify-between px-3 items-center">

    <section>
      <%= link_to root_path do%>
        <%= image_tag '/images/newlogo.png' ,class:"h-20" %>
      <% end%>
    </section>

    <div class="search-bar flex">
      <input type="text" class="search-input bg-red-100 rounded-md h-10 mx-3" placeholder="11">
      <button class="submit search-btn flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray-100 bg-red-600 hover:bg-gray-900 hover:text-yellow-600 h-10">搜尋</button>
    </div>

    <div class="flex">
      <button class="submit search-btn flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray-100 bg-red-600 hover:bg-gray-900 hover:text-yellow-600 hover:no-underline h-10 mx-3">
        <%= link_to('會員註冊', new_registration_path(:user)) %> 
      </button>

      <button class="submit search-btn flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray-100 bg-red-600 hover:bg-gray-900 hover:text-yellow-600 hover:no-underline h-10">
        <%= link_to('會員登入', new_session_path(:user))%>
      </button>
    </div>
  </section>




  <% end %>
</div>








<script>
  document.addEventListener('DOMContentLoaded', function(){

    const searchBtn = document.querySelector('.search-btn')

    searchBtn.addEventListener('click', function() {
      const searchInput = document.querySelector('.search-input').value
      console.log(searchInput);
      const searchAPI = window.location.origin
      fetch(`${searchAPI}/pages/search.json?search=${searchInput}`)
      // response.json可將得到的結果轉換成json格式
      .then(response => response.json())
      .then(result => console.log(result))
      
      ;
    })
  })


</script>

