<% if current_user  %>

<section class="bg-red-500">

  <section class="centre mx-8" style="display: none;">
    <button>
      <%= link_to '編輯會員資料', edit_registration_path(:user), class: "mx-8" %> 
    </button>

    <button>
      <%= link_to '會員權益',  '#',  class: "mx-8" %> 
    </button>

    <button>
      <%= link_to '服務條款', '#', class: "mx-8" %> 
    </button>
  
  </section>

  <section class="record mx-8" style="display: none;">
    <button>
      <%= link_to '已收藏的活動',  '#', class: "mx-8" %> 
    </button>

    <button>
      <%= link_to '參加過的活動', '#', class: "mx-8" %> 
    </button>

    <button>
      <%= link_to '評價過的活動', '#', class: "mx-8" %> 
    </button>
  
  </section>

  <section class="hold mx-8" style="display: none;">
    <button>
      <%= link_to '辦理新活動', '#', class: "mx-8" %> 
    </button>

    <button>
      <%= link_to '辦理中的活動',  '#', class: "mx-8" %> 
    </button>

    <button>
      <%= link_to '已辦理的活動',  '#', class: "mx-8" %> 
    </button>
  
  </section>

  <section class="cart mx-8" style="display: none;">
  </section>
</section>
        
<% else %>



<% end %>