<% if current_user  %>

  <section class="333" style="display: none;">
    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>

    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>

    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>

    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>

    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>
  
  </section>

  <section class="hold" style="display: none;">
    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>

    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>

    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>

    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>

    <button>
      <%= link_to 'ggg', to: '#' %> 
    </button>
  
  </section>

        
<% else %>

  <button>
    <%= link_to '熱門精選', to: '#' %> 
  </button>

  <button>
    <%= link_to '特色活動', to: '#' %> 
  </button>

  <button>
    <%= link_to '短期課程', to: '#' %> 
  </button>

  <button>
    <%= link_to '休閒娛樂', to: '#' %> 
  </button>

  <button>
    <%= link_to '資訊科技', to: '#' %> 
  </button>


<% end %>