<% if current_user  %>

  <section class="centre" style="display: none;">
    <button>
      <%= link_to '編輯會員資料', edit_registration_path(:user) %> 
    </button>

    <button>
      <%= link_to '會員權益', to: '#' %> 
    </button>

    <button>
      <%= link_to '服務條款', to: '#' %> 
    </button>
  
  </section>

  <section class="record" style="display: none;">
    <button>
      <%= link_to '已收藏的活動', to: '#' %> 
    </button>

    <button>
      <%= link_to '參加過的活動', to: '#' %> 
    </button>

    <button>
      <%= link_to '評價過的活動', to: '#' %> 
    </button>
  
  </section>

  <section class="hold" style="display: none;">
    <button>
      <%= link_to '辦理新活動', to: '#' %> 
    </button>

    <button>
      <%= link_to '辦理中的活動', to: '#' %> 
    </button>

    <button>
      <%= link_to '已辦理的活動', to: '#' %> 
    </button>
  
  </section>

  <section class="cart" style="display: none;">
  </section>
        
<% else %>



<% end %>