<div class="container my-32 lg:w-3/4 md:4/5 sm:5/6">
  <div class="items-center justify-center px-2 sm:px-6 lg:px-8">
    <h2 class="mt-6 text-center text-4xl font-extrabold text-gray-900 mb-3">訂單管理</h2>

    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="t-thead text-center lg:text-lg text-3xl font-normal text-gray-100 ">
                <tr>
                  <th scope="col" class="px-5 py-3 uppercase tracking-wider">
                    訂單編號
                  </th>
                  <th scope="col" class="px-6 py-3 uppercase tracking-wider">
                    建立日期
                  </th>
                  <th scope="col" class="px-2 py-3 uppercase tracking-wider">
                    總金額
                  </th>
                  <th scope="col" class="px-6 py-3 uppercase tracking-wider">
                    狀態
                  </th>
                  <th scope="col" class="px-6 py-3 uppercase tracking-wider">
                    訂單付款
                  </th>
                  <th scope="col" class="px-6 py-3 uppercase tracking-wider">
                    訂單取消
                  </th>
                </tr>
              </thead>

              <tbody>
                <% @orders.each do |order| %>
                  <tr class= "px-6 py-3 text-center">
                    <td class="lg:text-lg text-2xl px-6 py-3 font-normal uppercase tracking-wider" ><%= link_to order.num, tickets_my_path %></td>
                    <td class="lg:text-lg text-xl" ><%= order.created_at&.strftime("%Y/%m/%d") %></td>
                    <td class="lg:text-lg text-xl" ><%= order.price %></td>
                    <td class="lg:text-lg text-xl" ><%= order.state %></td>
                      <% if order.may_pay? %>
                        <td class="lg:text-lg text-xl" ><%= link_to '付款', pay_order_path(order), method:'POST', data: {confirm:'確定付款？'}%></td>
                      <% else %>
                        <td>－</td>
                      <% end %>

                      <% if order.may_refund? %>
                        <td class="lg:text-lg text-xl" ><%= link_to '退款', cancel_order_path(order), method:'delete', data: {confirm:'是否取消訂單？'} %></td>
                      <% else %>
                        <td>－</td>
                      <% end %>
                  </tr>
                <%end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container items-center justify-center mx-auto px-auto mt-20 lg:w-2/3 md:3/4 sm:5/6">
  <h2 class="text-3xl lg:text-xl md:text-2xl my-2">貼心提醒</h2>
  <ul class="list-disc list-inside mx-2 lg:text-lg md:text-xl text-2xl">
    <li>為了加速活動進場，請於報到前準備好本票券，並將手機螢幕亮度調高至50%以上。</li>
    <li>本票券（QR Code）為入場時的電子驗證用途，僅限個人使用。</li>
    <li>Rubytix 為活動刊載與票券交易之公開平台。</li>
    <li>活動舉辦由主辦單位負責，主辦單位保有活動最後調整與解釋的權力。</li>
  </ul>
</div>
