<h2>訂單列表</h2>

<table>
  <thead>
    <tr>
      <td>訂單編號</td>
      <td>建立日期</td>
      <td>總金額</td>
      <td>狀態</td>
      <td>訂單付款</td>
      <td>訂單取消</td>
    </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.num %></td>
      <td><%= order.created_at.strftime("%Y/%m/%d/%T") %></td>
      <td><%= order.price %></td>
      <td><%= order.state %></td>
      <td><%= link_to '付款', pay_order_path(order), method:'POST', data: {confirm:'確定付款？'} if order.may_pay? %></td>
      <td><%= link_to '退款', cancel_order_path(order), method:'delete', data: {confirm:'是否取消訂單？'} if order.may_refund? %></td>
    </tr>
  <%end%>
  </tbody>

</table>