<div class="my-32">
  <div class="px-5">
    <h2 class="text-4xl font-extrabold bg-gray-50">常見問題</h2>
    <h3 class="text-xl my-4">你好！歡迎來到RubyTix！</h3>
    <div class="text-lg my-2 w-1/2">
      <div class="my-4">
        若有任何問題，請參閱本頁面資訊，若你的問題無法在本頁面獲得解答，歡迎使用<span class="js-chat-btn">[智慧客服]</span>，或是來信詢問。
      </div>
      <div>
        聯絡信箱：<a href="mailto:contact@rubytix.fun">contact@rubytix.fun</a>
      </div>
      <div>智慧客服服務時間：週一至週五(10:00~17:00)</div>
    </div>
    <div class="search_content">
      <%#= TODO:這邊做一個搜尋功能 %>
    </div>
    <h3 class="text-2xl my-4">常見詢問</h3>
    <ul class="list-inside">
      <li><%= "Q：智慧客服在哪裡？" %><br /></li>
      <%= "A：螢幕畫面右下角有個圓形圖示的地方。" %>
      <li>
        <%= "Q：智慧客服可以幹嘛？" %><br />
        <%= "A：可以直接使用口語的詢問方式得到相關資訊。" %>請加入<a href="https://lin.ee/SI2elem">LINE@</a>
      </li>
    </ul>
    
    <h3 class="text-2xl my-4">票券購買</h3>
    <ul class="list-inside">
      <li>
        <%= "Q：我想參加活動，我要怎麼購票？" %><br />
        <%= "A：請見「新手上路」" %><br />
      </li>

</div>
