<div class="my-32">
  <div class="px-5">
    <h2 class="text-4xl font-extrabold bg-gray-50">新手上路</h2>
    <h3 class="text-xl my-4">你好！歡迎來到RubyTix！</h3>
    <div class="text-lg my-2 w-2/6">
      <div>
        這裡會告訴你如何參加活動、購買票券，請依照下方指示操作。
        如有任何問題，請參閱<%= link_to '[常見問題]', faq_pages_path %>，若你的問題無法在本頁面獲得解答，歡迎使用<span class="js-chat-btn">[智慧客服]</span>，或是來信與我們聯繫。
      </div>
      <div>
        聯絡信箱：<a href="mailto:contact@rubytix.fun">contact@rubytix.fun</a>
      </div>
      <div>智慧客服服務時間：週一至週五(10:00~17:00)</div>
    </div>
    <div class="search_content">
      <%#= TODO:這邊做一個搜尋功能 %>
    </div>
    <h3 class="text-2xl my-4">OO1OO</h3>
    <ul class="list-decimal list-inside">
      <li><%= "OOOOOOO" %><br />
      </li>
      <div class="px-2.5"><%= "EEEEEEEEEEE" %></div>
      <li>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
    <h3 class="text-2xl my-4">OO2OO</h3>
    <ul class="list-decimal list-inside">
      <li><%= "OOOOOOO" %><br />
      </li>
      <div class="px-2.5"><%= "EEEEEEEEEEE" %></div>
      <li>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <h3 class="text-2xl my-4">OO3OO</h3>
    <ul class="list-decimal list-inside">
      <li><%= "OOOOOOO" %><br />
      </li>
      <div class="px-2.5"><%= "EEEEEEEEEEE" %></div>
      <li>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
