<div class="w-full z-20 ">

  <div class="t-grid t-activity-area">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity.id) do %>
        <div class="t-item">

            <div class="t-item-img">
              <% if activity.image_url.present? %>
                <%= image_tag activity.image_url if activity.image_url.present? %> 
              <% else %>
                <img src="/images/rubytix003.png" alt="rubytix.fun" class="t-replace-img">
              <% end %>
            </div>

            <div class="flex justify-between t-item-detail">
              <div class="item__details">
                <h5><%= activity.title %></h5>
              </div>
              <div class="t-item-date">
                <div class="t-date-icon"><i class="far fa-calendar-alt fa-2x"></i></div>
                <div><%= activity.begin_datetime&.strftime("%Y/%m/%d") %></div>
              </div>
            </div>
          
            <div class="t-item-detail">
              <p class="truncate"><%= activity.brief %></p>
            </div>


        </div>
      <% end %>     
    <% end %>
  </div>

</div>
