<table>
<thead>
  <tr>
    <td>活動票券名稱</td>
    <td>數量</td>
    <td>單價</td>
    <td>小計</td>
  </tr>
</thead>

<tbody>
  <% current_cart.items.each do |item| %>
    <tr>
      <td><%= item.ticket_type.title %></td>
      <td><%= item.quantity %></td>
      <td><%= item.ticket_type.price %></td>
      <td><%= item.price %></td>
    </tr>
  <% end %>
</tbody>
<tr>
  <td colspan="3">總計</td>
  <td><%= current_cart.total_price %></td>
</tr>
</table>
