<div class="container">
  <div class="items-center justify-center px-2 sm:px-6 lg:px-8">

    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="t-thead text-center">
                <tr>
                  <td  scope="col" class="px-6 py-3 text-md font-normal text-gray-100 uppercase tracking-wider text-center">活動編號</td>
                  <td  scope="col" class="px-6 py-3 text-md font-normal text-gray-100 uppercase tracking-wider text-center">活動名稱</td>
                  <td  scope="col" class="px-6 py-3 text-md font-normal text-gray-100 uppercase tracking-wider text-center">活動票券名稱</td>
                  <td  scope="col" class="px-6 py-3 text-md font-normal text-gray-100 uppercase tracking-wider text-center">數量</td>
                  <td  scope="col" class="px-6 py-3 text-md font-normal text-gray-100 uppercase tracking-wider text-center">單價</td>
                  <td  scope="col" class="px-6 py-3 text-md font-normal text-gray-100 uppercase tracking-wider text-center">小計</td>
                  <td  scope="col" class="px-6 py-3 text-md font-normal text-gray-100 uppercase tracking-wider text-center">管理</td>
                </tr>
              </thead>

              <tbody>
                <% current_cart.items.each_with_index do |item, index| %>
                  <tr class= "px-6 py-3 text-center">
                    <td><%= index + 1 %></td>
                    <td><%= item.ticket_type.activity.title %></td>
                    <td><%= item.ticket_type.title %></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.ticket_type.price %></td>
                    <td><%= item.price %></td>
                    <td><%= link_to '刪除',cart_path(@id), method: "delete", data: { confirm: "確認刪除" }%></td>
                  </tr>
                <% end %>
                  <tr class= "px-6 py-3 text-center">
                    <td>總計</td>
                    <td></td>
                    <td></td>
                    <td><%= current_cart.total_price %></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2 justify-between flex">
      <%= link_to '繼續選購', activities_path, class: "actions group relative w-full flex justify-center py-2 px-4 border  text-sm font-medium rounded-md  text-gray-900 bg-gray-100 border-red-600 hover:border-red-600 hover:bg-gray-100 hover:text-red-600 hover:no-underline hover:shadow-lg" %>
      <%= link_to '結帳', checkout_cart_path , class: "t-check-button actions group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-gray-100 bg-red-600 hover:border-red-600 hover:bg-gray-100 hover:text-red-600 hover:no-underline	hover:shadow-lg hover:border-transparent" %>
    </div>
    <div>
            <%= button_to "清空購物車", cart_path, method: :'delete', class: "t-delete-button actions group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-gray-100 text-red-700 border-red-700" %>
    </div>

  </div>
</div>
<div>
            <%= link_to '回到活動列表', activities_path, class: "t-back-button my-6 w-full" %>
</div>
