<h1>結帳</h1>
<%= render "cart"%>
<%= if @order.errors.full_messages do |message| %>
  <%= message %>
<% end %>
<% end %>
<%= form_with(model: @order) do |form| %>
  <div>
    請填入票券使用者資料
    <div class="items-center mt-3">
      <%# TODO:做一個checkbox，打勾後可以直接帶入使用者資料 %>
      <%= form.check_box :period %>
      <%= label :period, "使用者與購買者相同請打勾" %>
    </div>
  </div>
  <div>
    <%= form.label:姓名 %>
    <%= form.text_field:participant %>
  </div>
  <div>
    <%= form.label:電話 %>
    <%= form.text_field:tel %>
  </div>
  <div>
    <%= form.label:地址 %>
    <%= form.text_field:address %>
  </div>
  <%= form.submit '確認結帳', class: "t-create-button"%>
<% end %>
