<h1>結帳</h1>

  <%= render "cart"%>
  <%= if @order.errors.full_messages do |message| %>
    <%= message %>
    <% end %>
  <% end %>

  <%= form_with(model: @order) do |form| %>
  <div>
    <%= form.label:姓名 %>
    <%= form.text_field:participant %>
  </div>

  <div>
    <%= form.label:電話 %>
    <%= form.text_field:tel %>
  </div>

  <div>
    <%= form.label:地址 %>
    <%= form.text_field:address %>
  </div>
  <%= form.submit '確認結帳'%>
  <% end %>