<h2>新增活動時間</h2>
<%= form_for(@ticket) do |f|%>
  <div>
    <%= f.label:begin_datetime, '開始時間' %>
  </div>

  <div>
    <%= f.date_field:begin_datetime%>
    <%= f.time_field:begin_datetime%>
  </div>

  <div>
    <%= f.label:finish_datetime, '結束時間' %>
  </div>

  <div>
    <%= f.date_field:finish_datetime%>
    <%= f.time_field:finish_datetime%>
  </div>


  <%# ticket_types nested form %>

  <h2>新增活動票券</h2>

  <div data-controller="ticket-types-form">
    <div>
      <label>票券名稱</label>
      <label>數量</label>
      <label>票價</label>
    </div>

    <template data-ticket-types-form-target="form">
      <%= f.fields_for :ticket_types, TicketType.new, child_index: 'NEW_FORM' do |ticket_types_form|%>  
        <div>
          <%= ticket_types_form.text_field:title%>
          <%= ticket_types_form.number_field:quantity, placeholder: '數量', min: 0 %>
          <%= ticket_types_form.number_field:price, placeholder: '票價', min:0 %>

          <%= link_to '#' do %>
            <i class="far fa-trash-alt new-ticket-delete-btn"></i>
          <% end %>

        </div>
      <% end %>
    </template>


      <%= f.fields_for :ticket_types do |ticket_types_form|%>  
        <div>
          <%= ticket_types_form.text_field:title%>
          <%= ticket_types_form.number_field:quantity, placeholder: '數量', min: 0 %>
          <%= ticket_types_form.number_field:price, placeholder: '票價', min:0 %>

          <%= link_to '#' do %>
            <i class="far fa-trash-alt new-ticket-delete-btn"></i>
          <% end %>

        </div>
      <% end %>


    <div data-action = "click->ticket-types-form#addTicketType" data-ticket-types-form-target="addBtn" >
      <%= link_to '#' do %>
        <i class="fas fa-plus-circle">付費票</i>
      <% end %>
    </div>

    <div >
      <%= link_to '#' do %>
        <i class="fas fa-plus-circle">免費票</i>
      <% end %>
    </div>


    <%# ticket_types form end %>

    <%= f.button :submit %>


  <% end %>


  </div>


