<div class="max-w-screen-xl pt-40 pb-10 z-20">

註冊新會員
<h2>登入會員</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :信箱 %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :密碼 %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :記住我的帳號 %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "登入" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
