<%= form_for @activity do |f|%>
<%# 第一步：活動基本資訊 %>
<div class="t-card container">
  <p class="t-step">第一步：活動基本資訊</p>
  <p class="t-notice mb-5">* 字鍵為必填欄位</p>
    <div class="form-content-area">
      <div class="mt-3">
        <%= f.label :活動首圖 %>
        <%= f.file_field :image, id: :activity_image %>
      </div>

      <div class="flex items-center">
        <div>
          <%= f.label :title, "活動名稱" %>
          <%= f.text_field :title, class: "t-form-input" %>
        </div>

        <div>
          <%= f.label :limit, "人數限制" %>
          <%= f.number_field :limit, class: "t-form-input" %>          
        </div>
      </div>

      <div class="mt-3">
        <%= f.label :location, "活動地點" %>
        <%= f.text_field :location, class: "t-form-input" %>
      </div>

      <div class="flex items-center mt-3">
        <%= f.label :begin_datetime, "開始時間" %>
        <%= f.date_field :begin_datetime, class: "t-form-input" %>
        <%= f.time_field :begin_datetime, class: "t-form-input" %>
      </div>

      <div class="flex items-center mt-3">
        <%= f.label :finish_datetime, "結束時間" %>
        <%= f.date_field :finish_datetime, class: "t-form-input" %>
        <%= f.time_field :finish_datetime, class: "t-form-input" %>
      </div>

      <div class="items-center mt-3">
        <%= f.label :content, "活動說明" %>
        <%= f.rich_text_area :content, placeholder: "請完整說明你的活動內容", class: "t-form-input" %>
      </div>

    </div>
  </div>
</div>


<%# 第二步：聯絡方式 %>
<div class="t-card container mt-3">
  <p class="t-step  mb-5">第二步：聯絡方式</p>
    <div class="form-content-area">
      <div class="mt-3">
        <%= f.label :phone, "電話" %>
        <%= f.phone_field :phone, class: "t-form-input" %>
      </div>
      <div class="mt-3">
        <%= f.label :email, "信箱" %>
        <%= f.email_field :email, class: "t-form-input" %>
      </div>
      <div class="mt-3">
        <%= f.label :other_contact, "其他聯絡方式" %>
        <%= f.text_field :other_contact, class: "t-form-input" %>
      </div>
      <div class="items-center mt-3">
        <%= f.label :other_contact, "其他聯絡方式" %> 
        <%= f.text_field :other_contact, class: "t-form-input" %>
      </div>
    </div>
  </div>
</div>


<%# 第三步：新增票券 %>

<div class="t-card container mt-3">
  <p class="t-step">第三步：新增票券</p>
    <div class="form-content-area">

      <%= fields_for :tickets do |tickets_fields| %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%# 票卷內容 %>
      <div class="nested-container">
        <div data-controller="ticket-types-form" class="nested-form">
          <template data-ticket-types-form-target="form">
            <%= f.fields_for :ticket_types, TicketType.new, child_index: 'NEW_FORM' do |new_form|%> 
              <%= render 'ticket_types/ticket_types_form', form: new_form %>
            <% end %>
          </template>
          <%= f.fields_for :ticket_types do |form|%> 
            <%= render 'ticket_types/ticket_types_form', form: form %>
          <% end %>
          <div data-action = "click->ticket-types-form#addTicketType" data-ticket-types-form-target="addBtn" class="nested-add-btn">
            <%= link_to '#' do %>
              <div class= "t-form-create-btn"><p class="hover:no-underline hover:text-gray-900">新增票種</p></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container flex justify-between my-10">
  <%= link_to '回到活動列表', activities_path, class: "t-back-button" %>
  <%= f.submit '送出-建立活動與票券' , class: "t-create-button" %>
</div>




<% end %>