<%= form_for(@activity) do |f|%>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <p class="text-center">有*符號者為必填欄位。</p>
  <%# 第一步：活動基本資訊 %>
  <div class="container my-10">
    <div class="items-center justify-center px-2 sm:px-6 lg:px-8 border-2">
      <div class="act_banner my-2 w-1/2 h-1/2">
        <% if @activity.image_url.present? %>
          <%= image_tag activity.image_url if @activity.image_url.present? %>
        <% else %>
          <%= f.label :活動顯示圖片 ,class: "text-xl" %><br />
          <%= "此圖片會顯示於活動頁面，和主頁以供瀏覽（建議大小：1200x760px）" %><br />
          <%= f.file_field :image, id: :activity_image %>
        <% end %>
      </div>
    </div>
  </div>

<div class="flex flex-col mb-10 container">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="t-thead h-10">
            <%= fields_for :tickets do |tickets_fields| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <tr class= "px-6 py-3 text-center text-2xl h-20">
                <th colspan="4">第一步：活動基本資訊</th>
              </tr>
            <% end %>  
          </thead>
        </table>
    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg mb-5 p-10">
      <div class="items-center flex justify-left">
        <div class="form-group m-auto">
          <div class="hostname my-2">
            <%= f.label :hostname, "主辦單位*" %>                  
            <%= f.text_field :hostname, class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-2.5" %>
          </div>
          <div class="act_title my-2">
            <%= f.label :title, "活動名稱*" %>
            <%= f.text_field :title, class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-2.5" %>
          </div>
          <div class="act_category my-2">
            <%= f.label :title, "活動分類*", class:"mr-6 my-2" %>
            <%= f.select(:category_id) do %>
              <% @categories.each do |c| -%>
                <%= content_tag(:option, c.name, value: c.id) %>
              <% end %>
            <% end %>
          </div>

          <div class="act_beginTime my-2">
            <%= f.label :begin_datetime, "開始時間*" %>
            <%= f.date_field :begin_datetime, class: "js-act_begin_date appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 pl-3 py-2" %>
            <%= f.time_select :begin_datetime, {:minute_step => 30}, class: "js-act_begin_time appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm px-3 py-2" %>
          </div>
          <div class="act_finishTime my-2">
            <%= f.label :finish_datetime, "結束時間*" %>
            <%= f.date_field :finish_datetime, class: "js-act_end_date appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 pl-3 py-2" %>
            <%= f.time_select :finish_datetime, {:minute_step => 30}, class: "js-act_begin_time appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm px-3 py-2" %>
          </div> 
          <div class="act_location my-2">
            <%= f.label :location, "活動地點" %>
              <%# TODO: 這裡要有一個檢查機制，結束時間要比開始時間晚，至少半小時/一小時？%>
              <%#= "((抓上面的地點 顯示出地圖))" %>
              <%#= "((這裡放google map api 抓上面的地點 顯示出地圖))" %>
            <%= f.text_field :location, class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-1/2" %>
          </div>
          <div class="act_location my-2">
            <%= f.label :location_guide, "活動地點指引", class:"block" %>
            <%= f.text_field :location_guide, placeholder: "請說明如何到達該活動地點，如：西門捷運站5號出口，出站後直走約五分鐘，於214巷右轉即可見到「OOO」招牌", class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-6/6 h-300 block" %>
          </div>
          <div class="act_brief my-2">
            <%= f.label :brief, "活動摘要*" %>
            <%= f.text_field :brief, placeholder: "活動簡要介紹", :maxlength => 15, :size => 40, class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-4 py-2" %>
          </div>
          <div class="act_content my-2">
            <%= f.label :content, "活動說明*" %>
            <%= f.rich_text_area :content, placeholder: "請完整說明你的活動內容", class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm" %> 
          </div>
          <div class="act_link my-2">
            <%= f.label :link, "相關連結" %>
            <%= f.url_field :link, placeholder: "可加上相關連結，讓使用者能更瞭解此活動", class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-4/6" %>
          </div>
          <div class="act_form my-2">
            <%= f.label :form, "活動形式", class:"mr-6 my-2" %>
            <%= f.select(:form, [['(請選擇活動形式)'] ,['實體活動'] , ['線上活動'], ['其他（請於活動內容說明）']])%>
          </div>
          <div class="act_tag my-2">
            <%= f.label :tag, "活動標籤" %>
            <%= f.text_field :tag, class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-3.5" %>
          </div>
            <% if false %>
            <div class="act_category my-2">
              <%= f.label :category, "活動分類", class:"mr-6 my-2" %>
              <%= f.select(:category, [['(請選擇活動形式)',0] ,['講座研習',1] , ['藝文表演', 2], ['節慶展覽', 3], ['動手實作', 4]])%>
            </div>
              <%= f.label :name, "活動分類"%>
              <%= f.select(:category_id) do %>
                <% categories.each do |c| -%>
                  <%= content_tag(:option, c.name, value: c.id) %>
                <% end %>
              <% end %>           
          <% end %>
        </div>
      </div>
    </div>
            
       </div>
    </div>
  </div>
</div>     

<%# 第二步：聯絡方式 %>
<div class="flex flex-col mb-10 container">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="t-thead h-10">
            <%= form_for @activity do |f|%>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <tr class= "px-6 py-3 text-center text-2xl h-20">
                <th colspan="2">第二步：聯絡方式與相關限制</th>
              </tr>
            <% end %>
          </thead>
        </table>
        <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg mb-5 p-10">
          <div class="items-center flex justify-left">
            <div class="act_contact m-auto">
              <div class="act_phone my-2">
                <%= f.label :phone, "電話" %>
                <%= f.phone_field :phone, class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-2.5" %>
              </div>
              <div class="act_mail my-2">
                <%= f.label :email, "信箱" %>
                <%= f.email_field :email, class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-2.5" %>
              </div>
              <div class="act_otherContact my-2">
                <%= f.label :other_contact, "其他聯絡方式" %>
                <%= f.text_field :other_contact, placeholder: "請填入電話信箱以外的資訊", class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-3/6" %>
              </div>
              <div class="act_limit my-2">
                <%= f.label :limit, "人數限制" %>
                <%= f.number_field :limit, min: 0, class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm mx-4 px-3 py-2 w-2.5" %>
              </div>
              <div class="act_notice my-2">
                <%= f.label :notice, "注意事項" %>
                <%= f.rich_text_area :notice, placeholder: "請寫下參加者需要注意的事情", class: "appearance-none rounded-none relative border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md bg-gray-100 focus:bg-white focus:z-10 sm:text-sm" %>
              </div>
              <div class="w-4/6">

              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# 第三步：新增票券 %>
<div class="flex flex-col mb-10 container">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="t-thead h-10">
            <%= fields_for :tickets do |tickets_fields| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <tr class= "px-6 pt-3 text-center text-2xl h-20">
                <th colspan="4">第三步：新增票券</th>
              </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
  <%# 票券內容 %>
  <div class="nested-container container">
    <div data-controller="ticket-types-form" class="nested-form">
      <template data-ticket-types-form-target="form">
        <%= f.fields_for :ticket_types, TicketType.new, child_index: 'NEW_FORM' do |new_form|%>
          <%= render 'ticket_types/ticket_types_form', form: new_form %>
        <% end %>
      </template>
      <%= f.fields_for :ticket_types do |form|%>
        <%= render 'ticket_types/ticket_types_form', form: form %>
      <% end %>
      <div data-action = "click->ticket-types-form#addTicketType" data-ticket-types-form-target="addBtn" class="nested-add-btn">
        <%= link_to '#' do %>
          <div class= "flex items-center justify-center border-2 rounded-md text-base font-medium text-gray-700 hover:no-underline h-10 col-start-2 col-span-4 shadow overflow-hidden border-b border-gray-200 hover:bg-gray-200 hover:text-gray-800"><i class="fas fa-plus-circle"></i>
            <p class="hover:no-underline ml-2">新增票種</p>
          </div>          
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex justify-between mt-10 cntainer">
    <%= link_to '回到活動列表', activities_path, class: "t-back-button my-6" %>
    <%= f.submit '送出-建立活動與票券' , class: "t-create-button my-6" %>
  </div>
<% end %>
<% end %>
