<h1>活動列表</h1>
請選擇想參與的活動

<%= link_to "新增活動", new_activity_path %>

<table>
  <thead>
    <tr>
      <td>活動id</td>
      <td>活動名稱</td>
      <td>活動內容</td>
      <td>主辦單位</td>
      <td>活動狀態</td>  <%# <尚未開始/進行中/已結束 %>
      <td>開始時間</td>
      <td>結束時間</td>
      <td>活動地點</td>
      <td>購買狀態</td>    <%# 我想參加！/可參加時告訴我 %>
      <td></td>
    </tr>
  </thead>
  
  <tbody>
    <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.id %></td>
      <td> <%= activity.title %> </td>
      <td> <%= activity.content  %> </td>
      <td> <%= activity.user_id  %> </td>
      <td> <%= activity.is_available  %> </td>
      <td> <%= activity.begin_datetime  %> </td>
      <td> <%= activity.finish_datetime  %> </td>
      <td> <%= activity.location  %> </td>
      <td> <%= activity.buy  %> </td>
      <td>
        <% if activity.ticket_types != [] %>
          <%= link_to '票券種類', activity_ticket_types_path(activity) %>
        <% else %>
          <%= link_to '新增票券', edit_activity_path(activity)%>
        <% end %>
      </td>
    </tr>   
    <%end %>
  </tbody>
</table> 






