<h1>新增活動</h1>
<<<<<<< HEAD
<%= render "form", activity: @activity %>
<br />
<%= "=====上面form，下面activity_form=====" %>
<br />
<%= render 'activity_form', activity: @activity %>
=======

<%= render "form", activity: @activity %>
>>>>>>> 64639c83c58488e8be3ca6a3498095773fd993ac

<br />

<%= link_to '回到活動列表', activities_path %>
