<h2>新增活動</h2>
<%= render "form", activity: @activity %>

<%= render 'activity_form', activity: @activity %>
<%= form_for(@activity) do |f| %>

<h3>基本資訊</h3>
  <%= f.label :user, "主辦單位" %>
  <%= f.text_field :user %> <br />
  <%= f.label :title, "活動名稱" %>
  <%= f.text_field :title %> <br />



<br />

<%= link_to '回到活動列表', activities_path %>
