<div class="container">
  <%= simple_form_for @activity do |f|%>
    <%= image_tag @activity.image_url if @activity.image_url.present? %>

    <% if @activity %>
      <h1 class="mt-6 text-left text-4xl font-extrabold text-gray-900 mb-5">
        【<%= @activity.title %>】
      </h1>

     
      <div  class="t-copy-area">
        <div id="copythis" class="t-copy-input">http://rubytix.fun</div>
        <div class="t-copy-btn">
          <a href="javascript:void(0)" onclick="CopyTextToClipboard('copythis')" class="t-copy-text">
          <i class="far fa-copy t-copy-text"></i> 分享複製連結</a>
        </div>
      </div>


      <ul>
        <li class="flex items-center ">
          <i class="far fa-clock fa-lg text-red-800"></i>
          <p class="text-left text-xl font-extrabold text-red-800 pl-2">開始與結束時間</p>
          <p class="text-left text-xl pl-2"><%= @activity.begin_datetime&.strftime("%Y/%m/%d/%H:%M") %>～<%= @activity.finish_datetime&.strftime("%Y/%m/%d/%H:%M") %></p>
        </li>

        <li class="flex items-center">
          <i class="fas fa-map-marker-alt fa-lg text-red-800"></i>
          <p class="text-left text-xl font-extrabold text-red-800 pl-2">活動地點</p>
          <p class="text-left text-xl pl-2"><%= @activity.location %>
        </li>

        <li class="flex items-center">
          <i class="fas fa-tag fa-lg text-red-800"></i>
          <p class="text-left text-xl font-extrabold text-red-800 pl-2">活動標籤</p>
          <p class="text-left text-xl pl-2"><%= @activity.tag %>
        </li>

        <li class="flex items-center">
          <i class="fas fa-link fa-lg text-red-800"></i>
          <p class="text-left text-xl font-extrabold text-red-800 pl-2">活動連結</p>
          <p class="text-left text-xl pl-2"><%= @activity.link %>
        </li>

        <li class="flex items-center">
          <i class="fas fa-clipboard fa-lg text-red-800"></i>
          <p class="text-left text-xl font-extrabold text-red-800 pl-2">活動形式</p>
          <p class="text-left text-xl pl-2"><%= @activity.form %>
        </li>

        <li class="flex items-center">
          <i class="fas fa-user fa-lg text-red-800"></i>
          
          <p class="text-left text-xl font-extrabold text-red-800 pl-2">人數限制</p>
          <p class="text-left text-xl pl-2"><%= @activity.limit %>
        </li>
      </ul>

      <ul class="divide-y-4 divide-red-800 divide-solid">
        <li class="text-left text-xl font-extrabold text-red-800 pl-2">活動摘要</li>
        <%= @activity.brief %>
        <li class="text-left text-xl font-extrabold text-red-800 pl-2">活動說明</li>
        <%= @activity.content %>
        <li class="text-left text-xl font-extrabold text-red-800 pl-2">注意事項</li>
        <%= @activity.notice %>
      </ul>
      
      <%= @activity.hostname %>
      聯絡電話<%= @activity.phone %>
      聯絡信箱<%= @activity.email %>
      其他聯絡方式<%= @activity.other_contact %>
    <% else %>
      <h1>找不到活動喔！請確定你的連結是否正確！</h1>
    <% end %>



    <div class="flex justify-between mt-10">
      <%= link_to '回到活動列表', activities_path, class: "t-back-button flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium h-10" %>
      <%= link_to '參加活動', activity_choose_path(@activity.id) , method:"get", class: "t-create-button flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray-100  hover:border-red-600 hover:bg-gray-100 hover:text-red-600 hover:no-underline h-10" %>
    </div>
  <% end %>



  <section class="section-comments">
    <div class="container">
      <h2><strong><%= @activity.comments.count %> </strong>Comment</h2>
      <%= render 'comments/comments', activity: @activity, comment: @comment %>
      <%= render 'comments/show_comments', comments: @comments %>
      <% if @comments.next_page %>
        <div class="coin-comment__load-more text-center p-2  bg-gray-500 ">
          <%= click_for_more_comments(@activity, @comments) %>
        </div>
      <% end %>
    </div>
  </section>
</div>
<div><%= link_to '回到活動列表', activities_path, class: "t-back-button" %></div>


<script>
function CopyTextToClipboard(id) {
    var TextRange = document.createRange();
    TextRange.selectNode(document.getElementById(id));
    sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(TextRange);
    document.execCommand("copy");
    alert("複製完成！") //此行可加可不加
  }

</script>