<!DOCTYPE html>
<html>
  <head>
    <title>RubyTix</title>
        
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href=’https://fonts.googleapis.com/css?family=Raleway' rel=’stylesheet’ type=’text/css’>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>

  <body>
    <div>
      <%= render 'shared/navbar' %>
    </div>

    <div>
      <section class="js-main-area t-body">
        <%= notice %>
        <%= yield %>
      </section>

      <section class="m-auto">
        <%= render 'shared/float' %>
      </section>
    </div>

    <div class="m-auto bottom-0">
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
