<!DOCTYPE html>
<html>
  <head>
    <title>RubyTix</title>
      
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="w-full relative min-h-full	">
      <section class="max-w-screen-xl  m-auto">
        <%= render 'shared/navbar' %>
      </section>

      <section class="max-w-screen-xl  m-auto">
        <%= render 'shared/mainbar' %>
      </section>

      <section class="max-w-screen-xl  m-auto">
        <%= render 'shared/option' %>
      </section>


      <section class="max-w-screen-xl  m-auto bg-gray-300	">
        <%= yield %>
      </section>

      <section class="max-w-screen-xl  m-auto bottom-0">
        <%= render 'shared/footer' %>
      </section>

      <section class="max-w-screen-xl  m-auto ">
        <%= render 'shared/float' %>
      </section>

    </div>
  </body>
</html>
